<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
    <test name="NewTestng">
        <classes>
            <class name="Testng.NewTestng" />
        </classes>
    </test>
    <test name="NewTestng1">
        <classes>
            <class name="Testng.NewTestng" />
        </classes>
    </test>
</suite>